{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuraSong - Música para tu estado de ánimo</title>
    <link rel="stylesheet" href="{% static 'nueva_app/css/estilos.css' %}" />
  </head>
  <body>
   

    <h1 class="titulo">AuraSong</h1>
    <h2 class="titulo_index">Música que se adapta a tu estado de ánimo</h2>
    <main>
      <!-- Texto alineado a la izquierda -->
      <div class="text-block">
        <p>
          ¿Te gusta escuchar música que conecte con tus emociones? En AuraSong,
          transformamos tus sentimientos en música. Solo tienes que contarnos
          cómo te sientes y qué estado de ánimo deseas alcanzar. Nuestra
          aplicación seleccionará una playlist personalizada que te ayude a
          elevar tu ánimo, relajarte, concentrarte o simplemente disfrutar el
          momento. Conecta con tu interior y deja que la música haga el resto.
        </p>
      </div>
      <div class="buttons">
        <a href="{% url 'registro' %}" class="btn">Registrar Usuario</a>
        <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
      </div>
    </main>
  </body>
</html>